.c-scrollbar {
    background-color: transparent;
}

.c-scrollbar_thumb {
    background-color: rgb(var(--secondary-color), 1);
    border-radius: 3rem;
    opacity: 1;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}